footer {
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 3%;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
    justify-content: space-between; /* Espacio entre columnas */
}

.footer-column {
    flex: 1;
    min-width: 250px; /* Ancho mínimo para columnas */
    margin-right: 40px;
}

.footer-column h4 {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

.footer-column ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar padding por defecto */
}

.footer-column li {
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
}

.social-icons {
    display: flex;
    gap: 1rem; /* Espacio entre iconos */
    margin-top: 15px; /* Espacio encima de los iconos */
}

.social-icons span {
    border-radius: 50%; /* Redondear los iconos */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.5rem; /* Tamaño del icono */
}

.facebook { background-color: #3b5998; }
.twitter { background-color: #00acee; }
.youtube { background-color: #c4302b; }
.pinterest { background-color: #c8232c; }
.instagram { background: linear-gradient(#405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45); }

.copyright {
    border-top: 1px solid #d2b495;
    text-align: center;
    padding: 20px 0 0 0;
    margin-top: 20px;
}
