main {
    margin-top: 180px;
    background-color: #e2e2e2; /* Cambia el color de fondo según sea necesario */
    padding: 20px;
}

.redes{
    background-color: #e2e2e2;
}

.fb,
.google {
    text-align: center;
}

.fb a,
.google a {
    margin-top: 15px;
    margin-bottom: 10px; 
    display: flex; 
    align-items: center;
}

.fb span,
.google span{
    width: 58%;
    font-size: 15px;
    padding: 0 2px;
    line-height: initial;
}

.fb i{
    margin-right: 30px;
    display: inline-block;
    line-height: inherit;
}

.google svg {
    margin-right: 40px;
}

.fb.redes-btn a{
    margin-top: 60px;
    background-color: #ffffff; 
    color: #1877f2 ; 
    text-decoration: none; 
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0); /* Inicialmente, la sombra está oculta */
    transition: box-shadow 0.3s; 
}

.google.redes-btn a{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #ffffff; 
    text-decoration: none; 
    color: black;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0); /* Inicialmente, la sombra está oculta */
    transition: box-shadow 0.3s; 
}

.fb.redes-btn a:hover,
.google.redes-btn a:hover {
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.3), /* Sombra difuminada hacia adentro */
    0 0 10px rgba(0, 0, 0, 0.3);
}

.redes-btn a {
    cursor: pointer;
    display: inline-block; /* Convierte los enlaces en elementos de bloque */
    text-align: center; /* Centra el texto dentro de los botones */
    padding: 10px 20px; /* Ajusta el relleno del botón */
    border-radius: 5px; /* Agrega bordes redondeados */
    border: 1px solid transparent; /* Agrega un borde transparente */
    width: 350px;
}

.Container {
    max-width: 500px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.form-registro,
.form-inciar-sesion {
    text-align: center; /* Centra el contenido del formulario horizontalmente */
}

.titulo {
    margin-top: 30px;
    margin-bottom: 20px; 
    height: 100px;
    background-color: #e2e2e2;
    width: 100%; /* Mantenemos el ancho al 100% */
    height: 100px; /* Altura original */
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0; /* Ajustamos el ancho */
}

.credenciales {
    margin-bottom: 20px;
    position: relative; 
}

.credenciales input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.credenciales input:focus {
    outline: none;
    border-color: #007bff; /* Cambia el color del borde al enfocar */
}

/* Estilos para las etiquetas de las cajas de texto */
.credenciales label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
    color: transparent; /* Color del texto de la etiqueta */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #666;
}


/* Estilos para el botón de iniciar sesión */
.boton-registrarse,
.boton-iniciar-sesion {
    display: inline-block;
    padding: 12px 20px; /* Ajusta el relleno del botón */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 40px;
}

.boton-iniciar-sesion:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.crear-cuenta{
    text-align: center;
    margin-bottom: 40px;
}
.d-flex{
    margin-top: 0px;
}

